@media screen and (max-width: 480px) {
    :root {
        --aguamarina: rgba(99, 216, 170, 1);
        --azul-claro: rgba(111, 188, 255, 1);
        --azul-fuerte: rgba(11, 97, 131, 1);
        --aguamarina-fuerte: rgba(57, 189, 167, 1);
        --blanco: #FFF;
        --negro: #000;
    }

    body{
        max-width: 480px;
    }

    #subir {
        font-size: 30px;
        position: fixed;
        z-index: 30;
        bottom: 50px;
        left: 300px;
    }

    header {
       padding: 30px 20px;
    }

    .horario {
        font-size: 10px;
        margin-top: -15px;
        margin-left: -5px;
    }

    .callus {
        display: flex;
        font-size: 10px;
        margin-top: -1px;
    }

    #menu {
        display: flex;
        margin-left: 50%;
        margin-top: 5px;
        font-size: 40px;
        color: var(--aguamarina);
    }

    nav {
        padding: 10px 20px;
        position: relative;
    }

    nav figure{
        margin-top: 10px;
    }

    nav ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 0px 10px;
        background-color: var(--aguamarina);
        z-index: 5;
        top: 100%;
        left: -100%;
        width: 70%;
        position: absolute;
        overflow: hidden;
        transition: all 0.5s;
        color: var(--negro);
    }

    nav ul.abrirmenu {
        left: 0px;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        display: block;
        border-left: none;
        border-right: none;
        z-index: 10;
    }

    footer{
        display: block;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        height: auto;
        text-align: center;
        padding-left: 40px;
    }

    .info_logo{
        margin-bottom: 30px;
    }

    .derechos{
        text-align: center;
    }

    .direccion{
        margin-bottom: 20px;
    }

    .telefono{
        margin-right: 10px;
        margin-bottom: 30px;
        width: 250px;
        text-align: center;
        margin-top: -2px;
    }

    .mas_info h1{
        margin-top: 30px;
    }
}