:root {
  --aguamarina: rgba(99, 216, 170, 1);
  --azul-claro: rgba(111, 188, 255, 1);
  --azul-fuerte: rgba(11, 97, 131, 1);
  --aguamarina-fuerte: rgba(57, 189, 167, 1);
  --blanco: #FFF;
  --negro: #000;
}

* {
  margin: 0;
  padding: 0;
}

/* responsiveslide css */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/*  fin */

.callbacks_container {
  position: relative;
  margin: auto;
}

.callbacks_container img {
  height: 500px;
  object-fit: cover;
}

.callbacks_container ul {
  margin: 0px;
}

.caption {
  position: absolute;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  text-shadow: 0px 0px 10px #333;
  color: var(--blanco);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  width: 500px;
  letter-spacing: 7px;
}

.callbacks_nav {
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0.5;
  z-index: 5;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background: transparent url("img/flechas.png") no-repeat left top;
  margin-top: -45px;
}

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

.caption b {
  text-align: center;
  font-size: 25px;
  line-height: 0;
}

@media screen and (max-width: 390px) {

  .caption {
    font-size: 15px;
    width: 80%;
    letter-spacing: 3px;
  }

  .caption b {
    text-align: center;
    font-size: 20px;
    line-height: 0;
  }
}